@import "../app-variables";

.app-drawer {
  &.ready {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $app-drawer-z-index;
  }

  &__menu-button {
    padding: 8px 0;
    margin-left: -10px;
  }

  &__content {
    padding: 0 16px;
  }

  &__nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      > li {
        margin: 0;
        padding: 0;
      }
    }
  }
}

.app-drawer-toggle {
  display: inline-block;
  width: 48px;
  height: 48px;
}
