html {
  width: auto;
  height: auto;
}

body {
  position: static;
  width: auto;
  max-width: none;
  height: auto;
  min-height: 100vh;
  max-height: none;
  overflow: visible;
}

.ion-page {
  display: block;
  position: static;
  overflow: visible;
  contain: none;
}
